body {
	font-family:"Helvetica", Arial, sans-serif;
	background-color:#E5F1FC;
}
a {
	display:block;
	width:20px;
	height:20px;
}
div.colorBox {
	float:left;
	width:20px;
	height:20px;
	margin-top:3px;
	margin-left:5px;
	background-color:#666;
}
div.httpStatus {
	float:left;
	margin-top:3px;
	margin-left:5px;
}
label {
	margin-top:3px;
}
input.adPath, input.thirdParty {
	width:400px;
}
input.checkBox {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
input.duration {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:25px;
}
body#fep_web li.fep_web, body#dep_ipad li.fep_ipad, body#fep_houseweb li.fep_houseweb, body#dep_houseipad li.fep_houseipad {
	border-bottom: 1px solid #4E8EC7;
	background-color: #FFF;
}
body#fep_web li.fep_web a, body#fep_ipad li.fep_ipad a, body#fep_houseweb li.fep_houseweb a, body#fep_houseipad li.fep_houseipad a {
	color: #FB7408;
	background-color: #FFF;
	position: relative;
	top: 1px;
	padding-top: 4px;
}
ul#tabNav {
	list-style: none;
	list-style-type: none;
	margin: 1em 0 1em 0;
	padding: 3px 10px 3px 10px;
	text-align: left;
	border-bottom: 1px solid #4E8EC7;
}
ul#tabNav li {
	display: inline;
}
ul#tabNav li a {
	display: inline;
	padding: 3px 4px;
	border: 1px solid #4E8EC7;
	background-color: #E5F1FC;
	color: #4E8EC7;
	margin-right: 0px;
	text-decoration: none;
	border-bottom: none;
	font-weight: bold;
}
ul#tabNav li a:hover {
	background: #fff;
}
.clipDiv {
	padding:0px;
}
.orange {
color:#FB7408;
}
.blue {
color:#4E8EC7;
}
.clip.hover {
	background-color:#eee;
}
.clip.active {
	background-color:#aaa;
}
.clip.visited {
	background-color:#888;
}
.hide {
	display:none;
}
#outputTable {
	background-color:#E5F1FC;
	border:none;
	width:900px;
	table-layout:fixed;
	word-wrap:break-word;
}
#outputTable td.name {
	width:200px;
}
#outputTable td.url {
	width:600px;
}
#outputTable td.clipTd {
	width:45px;
}
#outputTable td {
	background-color:#FFF;
	border:1px solid #A9A9A9;
	padding:4px;
}
#outputTable td.clipTd {
	background-color:#ccc; 
	padding:0px;
}
#outputTable td div.clip {
	padding:4px;
}
#clipParserButton {
	width:50px;
	text-align:center; 
	border:1px solid black; 
	background-color:#ccc; 
	padding:2px; 
	margin:10px;
}
#clipParserButton.hover {
	background-color:#eee;
}
#clipParserButton.active {
	background-color:#aaa;
}